.edit-icon:hover,
.cancel-icon:hover {
  cursor: pointer;
  color: #0d6efd;
}

.delete-icon:hover {
  cursor: pointer;
  color: #dc3545;
}

.update-icon:hover {
  cursor: pointer;
  color: #198754;
}

.check-icon:hover {
  cursor: pointer;
  color: red;
}
